@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Andrezão Monstro!!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Vidaaaa</a>.</p>
</div>
